*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial !important; */
}

.all-header {
  display: flex;
  flex-direction: column;
}
.w-40 {
  width: 40%;
}

.w-60{
    width: 60%;
}
header {
  padding: 2em 4.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fafafbe8;
}

header .right_els {
  width: 40%;
}

header .right_els li {
  /* font-family: Proxima Nova; */
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.36px;
  color: #262626;
}
header .right_els a {
  color: #262626 !important;
}

header .right_els a span.count_cart {
  background: rgb(251, 113, 129);
  border-radius: 30px;
  width: 45px;
  padding: 0.1em 0.3em;
  color: #fff;
}

header .right_els li.price {
  color: rgb(146, 146, 146);
}

.second_header {
  padding: 0.5em 4.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_brand {
  display: flex;
  align-items: center;
  gap: 5px;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #22262a;
}
.second_header .logo_brand p {
  margin-top: 0.7em;
}

.second_header .links {
  display: flex;
  width: 55%;
  align-items: center;
  justify-content: space-around;
}

.second_header .links a {
  text-decoration: none;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #262626;
}

.second_header .links a.active {
  color: #40bfff;
}

section.main_cont {
  padding: 6em 5.5em 7.2em;
  height: 70vh;
  background-image: url(./images/Promotion\ Image.png);
}
.w-90{
  width: 85%;
}
section.main_cont .title {
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 700;
  color: #ffffff !important;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.5px;
}

.cards_main_con {
  width: 90%;
  gap: 0;
  transform: translateY(-9.5rem);
  justify-content: center;
  gap: 0 !important;
}
.cards_main_con .card_box {
  height: 380px;
  background:#fff;
  width: 28.5%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards_main_con .card_box .top .title{
  color: #223263;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.5px;
}


.cards_main_con .card_box .sale s{
  color: #9098B1;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.5px;
}
.cards_main_con .card_box .sale span{
  color: #FB7181;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.5px;
}
.cards_main_con .card_box .top .price{
  color: #40BFFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;
  letter-spacing: 0.5px;
}

.cards_main_con .card_box img{
  width: 85%;
  height: 70%;
}


.cards_main_con .card_box:nth-child(1){
  background:rgb(237, 236, 236);

  /* background-image: url(./images/card-1.png); */
}
.cards_main_con .card_box:nth-child(2){
  /* background-image: url(./images/card-2.png); */
}
.cards_main_con .card_box:nth-child(3){
  /* background-image: url(./images/card-3.png); */
}

section.best_seller {
  padding: 0.2em 2.5em 3em;
}
section.best_seller h2.title {
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 600;
  font-size: 35.5px;
  line-height: 52.5px;
}
section.best_seller .categories {
  width: 45%;
  margin: 1.2em auto;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #262626;
}
section.best_seller .categories li {
  cursor: pointer;
  transition: 0.4s ease;
  text-transform: capitalize;
}

section.best_seller .categories li:hover {
  color: #33a0ff;
  border-bottom: 1px solid #33a0ff;
}

section.best_seller .categories .active {
  color: #33a0ff;
  border-bottom: 1px solid #33a0ff;
}

.load_more {
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  color: #33a0ff;
  width: 120px;
  margin: 1.7em auto;
  border-bottom: 1px solid #33a0ff;
}

.loader_spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product_card {
  width: 24%;
  border-radius: 5px;
  padding-bottom: 0.4em;
  text-align: center;
  margin-top: 1.2em;
  border: 2.5px solid rgb(246, 246, 246);
}
.product_card .img {
  display: flex;
  justify-content: center;
  background: rgb(246, 246, 246);
  padding: 2.5em 0.4em;
  cursor: pointer;
}

.product_card .img img {
  width: 200px;
  height: 200px;
}

.product_card .body {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

.product_card .body .name {
  color: #223263;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.5px;
}

.price {
  color: #40bfff;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 700;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0.5px;
}

.add_cart {
  cursor: pointer;
  transition: 0.4s ease;
}

.add_cart:hover {
  transform: scale(1.2);
}

.icons {
  width: 70%;
}

.icons .box {
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 500;
  font-size: 27px;
  line-height: 40.5px;
  color: #22262a;
}

.search_form {
  width: 30%;
}

.search_form input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: Proxima Nova;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.92px;
  color: #262626;
  padding: 0.3em 0.7em;
}

.search_form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.7em 1em;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 0.3em 0.7em;
}

section.bottom_sec {
  padding-bottom: 5em !important;
}

footer {
  background: #bcddfe;
  padding: 3.5em 3em 1em;
}

footer .first {
  border-bottom: 1px solid #f6f7f8;
  padding: 0.5em 0 4em;
}

footer .first .item.logo .desc {
  font-family: Proxima Nova;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.62px;
  color: #22262a;
}
footer .first .item .title {
  color: #22262a;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

footer .first .item .address {
  color: #22262a;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
footer .first .item .desc {
  color: #22262a;
  /* font-family: Proxima Nova; */
  font-family: Arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.62px;
}

footer .second {
  padding: 1em 0;
}

footer .second .left {
  color: #c1c8ce;
  /* font-family: Proxima Nova; */
  font-family:Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.05px;
}

.cart .carts_product .top {
  color: #22262a;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
 .prd_img {
  border-radius: 7px;
  width: 119px;
}

 .title_c {
  color: #262626;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

 .counter {
  background: #f6f7f8;
  text-align: center;
  width: 105px;
  padding: 0.3em;
  height: 35px;
  display: flex;
  justify-content: space-around;
  /* font-family: Proxima Nova; */
  font-family: Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.92px;
  color: #262626;
}

.shopping{
    width: 50%;
    background-repeat: no-repeat;
    margin: 0.5em auto;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/animation/2022/11/03/16/42/16-42-39-820_512.gif);
}

.shopping a{
    /* color: #; */
    /* font-family: Poppins; */
    font-family: Arial;
    font-size: 1.2em;
    transform: translateX(-100%);
}
.cart .carts_product .products .box .right .counter i {
  color: #33a0ff;
  cursor: pointer;
  font-weight: 800 !important;
}

.indic{
    color: #33a0ff;
  cursor: pointer;
  font-weight: 800 !important; 
}

 .item_p {
  color: #262626;
  /* font-family: Poppins; */
  font-family: Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.del_cart{
    cursor: pointer;
}


.checkout_sec .left .input-box{
    display: flex;
    width: 369px;
}
.checkout_sec .left{
    padding-left: 1.7em;
}
.checkout_sec .left .input-box input{
    padding: 0.6em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* font-family: Poppins; */
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}
.checkout_sec .left .input-box button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #33A0FF;
    color: #ffffff;
    /* font-family: Poppins; */
    font-family: Arial;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.checkout_sec .right .box{
    width: 385px;
    height: 310px;
}
.checkout_sec .right .box .list li{
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: #262626;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;   
}

.checkout_sec .right .box .d-flex{
    color: #22262A;
    /* font-family: Poppins; */
    font-family: Arial;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}
 .checkout_btn{
background: #53adfb;
color: #FFFFFF !important;
/* font-family: Poppins; */
font-family: Arial;
font-weight: 500;
font-size: 18px;
line-height: 27px;
width: 100%;
padding: 0.5em 0.2em;
transition: 0.3s ease;
}

.checkout_btn:hover{
background: #439ff0;
}






.search-box input{
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  padding: 0.4em 0.9em;
  font-family: Arial;
  background: rgb(246, 246, 246);
}
.search-box button{
  color: #fff;
  font-family: Arial;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}